{% extends "admin/change_form.html" %}
{% load i18n %}


{% block content %}
	<div id="content-main">
		<div class="module">
            {% for field in diff_list %}
                <div class="form-row {{ field.field.name }}">
                    <div>
                        <label for="">{{ field.field.verbose_name|capfirst }}</label>
                        <div>
                            <p>{{ field.patch|safe }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
		</div>
	</div>
{% endblock %}


